.wrapper{
    position: relative;
}
.btn{
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 8px;
    color: #333;
    background-color: transparent;
    border-color: transparent;
}

.dropdown{
    position: absolute;
    top: 45px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 -4px 32px #0003;
    border-radius: 10px;
    margin: auto;
    color: #000;
    min-width: 230px;
    min-height: 50px;
    max-height: calc(90vh - 66px);
    width: 389px;
    overflow: hidden; 
     overflow-y: auto;
  overscroll-behavior: contain;
}
.contentheader{
    padding: 14px 20px 16px;
    display: flex;
    align-items: center;
}
.contenttitle{
    font-size: 18px;
    margin: 0;
}
.cotentbtn{
    font-size: 14px;
    color: #f05123;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    margin-left: auto;

    &:hover{
        background-color: #f1f1f1;
    }
}
.courseitem{
    display: flex;
    align-items: center;
    margin: 0 8px;
    padding: 8px 12px;
    transition: background-color .3s;
    border-radius: 10px;

     &:hover{
        background-color: #f1f1f1;
    }   
}

.courseimage{
    width: 120px;
    min-height: 67px;
    display: block;
    border-radius: 8px;
    background-color: #ebebeb;
    text-align: center;
    line-height: 67px;
}

.courseinfo{
    flex: 1;
    margin-left: 12px;
    list-style: none;
}
.coursetitle{
    font-weight: 600;
    font-size: 14px;
    margin: 6px 0 0;
}
.coursedesc{
    font-size: 12px;
    margin: 4px 0 0;
    color: #666;
}
.progress {
  width: 100%;        
  height: 8px;        
  background-color: #f44336; 
  border-radius: 9999px;
  margin-top: 8px;
  overflow: hidden;
  position: relative;
}