.btn {
  position: fixed;
  bottom: 22px;
  right: 22px;
  background-color: #333;
  border: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;         
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.2s ease;
  z-index: 9999;      
  
  &:hover{
     background-color: #555;     
     transform: scale(1.05);     
  }
}

.scroll {
  color: #fff;              
}