.wrapper{
    min-width: 216px;
    height: 38px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.img{
    width: 38px;
    height: 38px;
    object-fit: contain;
    border-radius: 8px;
}
.text{
    outline: none;
    font-size: 14px;
    font-weight: 700;
    margin-left: 16px;
    color: #000;
}